<!DOCTYPE html> 
<body style="background-color:floralwhite;">
<html>
        <head>
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
        </style>
        <title>Plant Selection</title>
        <link href="SelectingPage.css" rel="stylesheet" type="text/css">
    </head>
      <body>
           <header>      
                  <h1 style="font-size:50px">WELCOME TO PLANT FERTILIZER RECOMMENDATION</h1>
                  <div class="image">
                    <img src="1.jpeg" alt="Avatar" style="width:300px" >
                    <br>
                    <br>
                    <br>
<div class="text">
    <p style ="font-size:25px">Enter your Name </p>
    <p> <input type = "text" name = "Name" /></p>
    <p style ="font-size:25px">Enter your phone number</p>
<p> <input type = "integer" name = "Phone numer" /></p>
<p> <input  type = "submit" value = "Login"/></p>
</form>
<b>{{value}}</b>

</body>
</html>

