<!DOCTYPE html> 
<body style="background-color:floralwhite;">
<html>
        <head>
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
        </style>
        <title>Plant Selection</title>
        <link href="SelectingPage.css" rel="stylesheet" type="text/css">
    </head>
      <body>
           <header>      
                  <h1 style="font-size:50px">WELCOME TO PLANT FERTILIZER RECOMMENDATION</h1>
                  <div class="image">
                    <img src="3.jpeg" alt="Avatar" style="width:300px" >
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                
<div class="text">
                    <div>
					<h4>Drop in the image to get the prediction  </h4>
			<form action = "" id="upload-file" method="POST" enctype="multipart/form-data">
				<select name="plant">
			
					  <option value="select" selected>Select plant type</option>
					  <option value="fruit">Fruit</option>
					  <option value="vegetable">Vegetable</option>
		</select><br>
				<label for="imageUpload" class="upload-label" style="background: #28272c;">
					Choose...
				</label>
				<input type="file" name="image" id="imageUpload" accept=".PNG, .JPG, .JPEG">
			</form>
			<div class="image-section" style="display:none;">
				<div class="img-preview">
					<div id="imagePreview">
					</div>
				</div>
			
				</div>
				<div>
					<button type="button" class="btn btn-info btn-lg " id="btn-Predict" style="background: #0000FF;">Predict</button>
				</div>
			</div>
			<div class="loader" style="display:none;"></div>

			<h3>
				<span id="result" style="font-size:17px; "> </span>
			</h3>

		</div>
			</div>
			<table>
		<td><a href="E:\VIT\Plant Fertilizer recommendation\Flaskweb\templates\Logout.html"><button type="submit">Logout</button></a></td></tr>
	</div>
</div-->
			
</body>
<footer>
    <script src="E:\VIT\Plant Fertilizer recommendation\Flaskweb\static\main.js" type="text/javascript"></script>    
</footer>
</html>
